<div class="card classroomCard" data-id=<%= classroom._id %> data-role=<%= user.role %>>
    <div class="content">
        <span class="right floated"
              data-tooltip="Requires Password"
              data-position="top left"
              data-inverted="">
            <i class="lock icon"></i>
        </span>
        <div class="header"><%= classroom.name %></div>
        <div class="meta">
            <span> <i class="user icon"></i> <%= classroom.createdBy %> </span>
        </div>
    </div>
    <div class="extra content">
        <% if (user.role === 'Instructor') { %>
        <div class="ui indicating small progress classAttendanceProgress"
             data-value=<%= classroom.students.length %> data-total=<%= classroom.expectedAttendance %>>
            <div class="bar"></div>
            <div class="label"></div>
        </div>
        <% } else { %>
        <div class="ui indicating small progress studentProgress">
            <div class="bar"></div>
            <div class="label"></div>
        </div>
        <% } %>
    </div>
</div>
