<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/lib/semantic/semantic-ui.min.css">
    <link rel="stylesheet" href="/app.css">
    <title>CBOT - <%= user ? user.role : 'Not logged In' %></title>
</head>
<body data-classroomid="<%= classroom._id %>">
<%- include('partials/header') %>

<div class="main-container">
    <div id="classroom-banner" class="ui inverted segment">
        <i id="btn-back" class="arrow circle left icon inverted"></i>
        <h3> <%= classroom.name %></h3>
    </div>

    <%- include('partials/createTaskModal') %>

    <div class="ui grid">
        <div class="column six wide">
            <%- include('partials/allTasks', {tasks: classroom.tasks}) %>
        </div>
        <div class="column ten wide">
            <%- include('partials/allStudents', {students: classroom.students}) %>
        </div>
    </div>
</div>

<script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="/lib/semantic/semantic-ui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.1/socket.io.min.js"></script>
<script src="/instructorClassroom.js"></script>
</body>
</html>